/* _-_-_- base/RESET -_-_-_ */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	margin: 0;
	padding: 0;
}
* {
	box-sizing:border-box;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration-line: none;
	color:inherit;
}
 img  {
	 max-width: 100%;
	 max-height: 100%;
 }
h1,h2,h3,h4,h5 {
	margin:0;
	padding:0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color:inherit;
	opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: inherit;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
	color:inherit;
  }